/* * * * * * * * * * * * * 
 * Background Pi Client  * 
 * v4                    * 
 *                       * 
 * Module: Main.DLL      * 
 *                       * 
 * * * * * * * * * * * * */
//Includes
#include <windows.h>
#include "exresource.h"

//Images
SPLASH              BITMAP  DISCARDABLE     "splash.bmp"

//Dialogs
IDD_INVIS DIALOGEX 0, 0, 50, 50
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
}

IDD_SPLASH DIALOGEX 0, 0, 267, 135
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
    LTEXT           "",IDC_LOAD,1,124,265,10,NOT WS_BORDER | ES_READONLY,WS_EX_STATICEDGE
    CONTROL         "SPLASH",IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,0,0,267,123
}

IDD_STAT DIALOG 0, 0, 145, 163 //X,Y,Width,Height
STYLE DS_CENTER | WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_MINIMIZEBOX //DS_MODALFRAME |
CAPTION "Status"
FONT 8, "MS Sans Serif"
{
    LTEXT           "State:",IDC_STATIC,17,17,21,8
    LTEXT           "% Complete:",IDC_STATIC,17,32,42,8
    LTEXT           "Time Elapsed:",IDC_STATIC,17,47,46,8
    LTEXT           "Time Remaining:",IDC_STATIC,17,62,54,8
    LTEXT           "Total Time:",IDC_STATIC,17,77,46,8
    LTEXT           "Iteration Time:",IDC_STATIC,17,92,46,8
    LTEXT           "Iteration:",IDC_STATIC,17,107,28,8
    LTEXT           "Est. # Iterations:",IDC_STATIC,17,122,52,8
    LTEXT           "Calculation:",IDC_STATIC,17,137,38,8
    EDITTEXT        IDC_MODE,76,17,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_PERC,76,32,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ELAP,76,47,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_TIME,76,62,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_TTIME,76,77,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ITIME,76,92,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ITERN,76,107,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ITERO,76,122,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_CALC,76,137,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
}

IDD_SETT DIALOG 0, 0, 145, 144 //X,Y,Width,Height
STYLE DS_CENTER | WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_MINIMIZEBOX //WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
{
	GROUPBOX		"Connection Settings",IDC_STATIC,7,7,130,71
    //
    	LTEXT		"Username:",IDC_STATIC,14,20,41,11
		EDITTEXT    IDC_NAME,55,19,75,11,ES_AUTOHSCROLL
		LTEXT		"Host:",IDC_STATIC,14,38,41,11
		EDITTEXT    IDC_HOST,55,37,75,11,ES_AUTOHSCROLL
		LTEXT		"Port:",IDC_STATIC,14,51,41,11
		EDITTEXT    IDC_PORT,100,50,30,11,ES_AUTOHSCROLL | ES_NUMBER
		LTEXT		"Timeout:",IDC_STATIC,14,64,41,11
		EDITTEXT    IDC_TOUT,100,63,30,11,ES_AUTOHSCROLL | ES_NUMBER
	//
	
	GROUPBOX		"Calculation Settings",IDC_STATIC,7,84,130,55
    //
		LTEXT		"Resume Frequency:",IDC_STATIC,14,97,80,11
		EDITTEXT    IDC_RESU,100,96,30,11,ES_AUTOHSCROLL | ES_NUMBER
		LTEXT		"Iteration Delay:",IDC_STATIC,14,110,80,11
		EDITTEXT    IDC_DELA,100,109,30,11,ES_AUTOHSCROLL | ES_NUMBER
		LTEXT		"CPU (Advanced):",IDC_STATIC,14,123,70,11
		EDITTEXT    IDC_ARCH,85,122,45,11,ES_AUTOHSCROLL
	//
}
