/* * * * * * * * * * * * * 
 * Background Pi Client  * 
 * v4                    * 
 *                       * 
 * Module: Main.DLL      * 
 *                       * 
 * * * * * * * * * * * * */
//Includes
#include <windows.h>
#include "exresource.h"

//Images
SPLASH              BITMAP  DISCARDABLE     "splash.bmp"

//Dialogs
IDD_INVIS DIALOGEX 0, 0, 50, 50
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
}

IDD_SPLASH DIALOGEX 0, 0, 267, 135
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
    LTEXT           "",IDC_LOAD,1,124,265,10,NOT WS_BORDER | ES_READONLY,WS_EX_STATICEDGE
    CONTROL         "SPLASH",IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,0,0,267,123
}

IDD_STAT DIALOG 0, 0, 145, 148 //X,Y,Width,Height
STYLE DS_CENTER | WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_MINIMIZEBOX //DS_MODALFRAME |
CAPTION "Status"
FONT 8, "MS Sans Serif"
{
    LTEXT           "State:",IDC_STATIC,17,17,21,8
    LTEXT           "% Complete:",IDC_STATIC,17,32,42,8
    LTEXT           "Time Elapsed:",IDC_STATIC,17,47,46,8
    LTEXT           "Time Remaining:",IDC_STATIC,17,62,54,8
    LTEXT           "Total Time:",IDC_STATIC,17,77,46,8
    LTEXT           "Iteration:",IDC_STATIC,17,92,28,8
    LTEXT           "Est. # Iterations:",IDC_STATIC,17,107,52,8
    LTEXT           "Calculation:",IDC_STATIC,17,122,38,8
    EDITTEXT        IDC_MODE,76,17,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_PERC,76,32,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ELAP,76,47,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_TIME,76,62,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_TTIME,76,77,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ITERN,76,92,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ITERO,76,107,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
    EDITTEXT        IDC_CALC,76,122,69,12,ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_TRANSPARENT
}
