/* * * * * * * * * * * * * 
 * Background Pi Client  * 
 * v4                    * 
 *                       * 
 * Module: Main.DLL      * 
 *                       * 
 * * * * * * * * * * * * */
//Includes
#include <windows.h>
#include "exresource.h"

//Images
SPLASH              BITMAP  DISCARDABLE     "splash.bmp"

//Dialogs
IDD_INVIS DIALOGEX 0, 0, 50, 50
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
}
