/* * * * * * * * * * * * * 
 * Background Pi Client  * 
 * v4                    * 
 *                       * 
 * Module: Main.DLL      * 
 *                       * 
 * * * * * * * * * * * * */
//Includes
#include <windows.h>
#include "exresource.h"

//Images
SPLASH              BITMAP  DISCARDABLE     "splash.bmp"

//Dialogs
IDD_INVIS DIALOGEX 0, 0, 50, 50
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
}

IDD_SPLASH DIALOGEX 0, 0, 267, 135
STYLE DS_CENTER | WS_POPUP
FONT 8, "MS Sans Serif"
{
    LTEXT           "",IDC_LOAD,1,124,265,10,NOT WS_BORDER | ES_READONLY,WS_EX_STATICEDGE
    CONTROL         "SPLASH",IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,0,0,267,123
}
